.myBody {
  font-family: "Montserrat", sans-serif;
}

/* Flex-box */

.flex-c-s-between {
  display: flex;
  justify-content: space-between;
}

.flex-r {
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  height: 100vh;
  padding: 40px;
}


@media screen and (max-width: 767px){
  .hero{
    height: auto;
  }
}

/* Margins */




/* Nav Link */

.brand {
  display: inline-block;
}

.nav-link-container {
  display: flex;
  align-items: center;
}

.myNav-link {
  color: #aaaaaa;
}

.myNav-link:hover {
  color: #222222;
}

.contact-btn {
  background-color: transparent;
  border: #222222 2px solid;
  color: #222222;
}

.contact-btn:hover,
.contact-btn:focus,
.contact-btn.focus {
  border: #00b0b5 2px solid;
  color: #00b0b5;
}

/* hero content */
.subtitle {
  color: #636363;
  font-size: 42px;
  font-weight: 400;
}

.max-600 {
  max-width: 600px;
}

@media screen and (max-width: 991px){
  .max-600{
    max-width: 500px;
  }
}

@media screen and (max-width: 767px){
  .max-600{
    max-width: 400px;
  }
}

@media screen and (max-width: 479px){
  .max-600{
    max-width: 300px;
  }
}

/* Anaimation */

.relative {
  position: relative;
}

.b-y-p {
  z-index: 30;
  position: absolute;
  right: 10%;
  top: 0%;
  width: 350px;
  animation: floating-balloon 4s ease-in-out infinite;
}

@media screen and (max-width: 991px){
  .b-y-p{
    max-width: 300px;
    top: 21%;
    right: 5%;
  }
}

@media screen and (max-width: 767px){
  .b-y-p{
    max-width: 200px;
    right: 0%;
    top: 75%;
  }
}

@media screen and (max-width: 479px){
  .b-y-p{
    max-width: 150px;
    right: 0%;
    bottom: -75%;
  }
}

@keyframes floating-balloon {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: -10px;
  }
}

.your-co {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -10;
  animation: rotate-your-co 10s ease-in-out infinite;
}

@keyframes rotate-your-co {
  0%,
  100% {
    transform:rotate(0deg)
  }
  50% {
    transform:rotate(10deg)
  }
}

.print {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -20;
  animation: rotate-print 10s ease-in-out infinite;
}


@keyframes rotate-print {
    0%,
    100% {
      transform:rotate(0deg)
    }
    50% {
      transform:rotate(7deg)
    }
  }

.clouds-container{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50%;
  overflow: hidden;
}

.inside-container-b-c{
  width: 400%;
  height: 300px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  animation: big-clouds 25s linear infinite;
}

@keyframes big-clouds {
 
  100% {
    transform: translateX(-66.6666%);  
  }
}

.cloud-big-1{
  display: block;
  width: 50%;
  height: 300px;
  background: url(../img/delivering-with-flying-colors-big-clouds.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.cloud-big-2{
  display: block;
  width: 50%;
  height: 300px;
  background: url(../img/delivering-with-flying-colors-big-clouds-2.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.inside-container-s-c{
  height: 300px;
  width: 400%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  animation: small-clouds 45s linear infinite;
}

@keyframes small-clouds {
 
  100% {
    transform: translateX(-66.6666%);  
  }
}

.cloud-small-1{
  display: block;
  width: 50%;
  height: 300px;
  background: url(../img/delivering-with-flying-colors-small-clouds.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}

.cloud-small-2{
  display: block;
  width: 50%;
  height: 300px;
  background: url(../img/delivering-with-flying-colors-small-clouds-2.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}